
main {
    display: flex;
    flex-direction: row;

    img {
        margin: 30px;
        height: 800px;
    }
}

.shows-america {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 600px;
    gap: 30px;
}

.lugares {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;

    .lugares-text {
        color: white;
        gap: 40px;
    }
}